.text,
.title {
  font-size: inherit;
  line-height: 1.7;
}

.text {
  font-size: 1rem;
}

.title {
  font-size: 2rem;
}

.subtitle {
  font-size: calc(2rem - 12px);
}
.inherit {
  color: inherit;
}

.bold {
  font-weight: bold;
}

.soft {
  color: gray;
}
