.header {
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.header > :first-child {
  margin-bottom: 8px;
}
.header .inputLabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
}
.header .label {
  font-weight: bold;
  margin-bottom: 8px;
}

.footer {
  border-top: 1px solid var(--light-gray);
  padding: 24px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer.btns {
  justify-content: space-between;
}
