.container {
  position: relative;
}
.icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.icon + .input {
  padding: 20px 16px 20px 48px;
}
.input {
  border: 1px solid var(--light-gray);
  padding: 20px 16px;
  border-radius: 8px;
  background-color: transparent;
  font-size: 1rem;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--light-gray);
}
