.profesionals {
  margin-top: 16px;
}

.profesional {
  border: 1px solid var(--light-gray);
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  width: 800px;
  box-shadow: 2px 2px 1px var(--light-gray);
  background-color: var(--background-container);
}

.profesionals > *:not(:last-child) {
  margin-bottom: 16px;
}

.professionalData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  flex-grow: 1;
}

.profesional:hover > :first-child > :first-child {
  color: var(--primary);
  text-decoration: underline;
}
.profesional:hover span {
  color: var(--primary);
  text-decoration: underline;
}
.professionalDetail {
  display: flex;
}
.separator {
  width: 1px;
  height: 100%;
  background-color: gray;
  margin: 0 16px;
}

.detailSection {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.detailSection > :first-child {
  margin-right: 4px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.modalContent > * {
  margin-bottom: 8px;
}
.listSkills {
  margin-left: 8px;
  margin-top: 16px;
}
.descripcion {
  margin-top: 32px;
}
.descripcion > :first-child {
  margin-bottom: 16px;
}
.btnContanctList {
  width: 250px;
  margin-left: 16px;
}
.btnContact {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .profesionals {
    margin-top: 64px;
  }
  .profesional {
    width: 100%;
    flex-direction: column;
  }
  .profesional .professionalData {
    margin-bottom: 16px;
  }
  .profesional .professionalData > :first-child {
    margin-bottom: 4px;
  }
  .btnContanctList {
    width: 100%;
  }
}
