.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.tabla {
  width: 500px;
  border-collapse: collapse;
  margin-top: 64px;
}

.tabla th,
.tabla td {
  border: 1px solid black;
  text-align: center;
}
