.findAService {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  background-color: var(--background);
  overflow: auto;
}
.nav {
  position: absolute;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  padding: 16px;
}
.section {
  display: none;
  flex-direction: column;
  min-width: 600px;
  background-color: var(--background-container);
  border-radius: 16px;
  padding: 16px;
}
.section.serviceSelect {
  background-color: transparent;
}
.section.show {
  display: flex;
}

.section.bordered {
  border: 1px solid var(--light-gray);
  box-shadow: 2px 2px 1px var(--light-gray);
  border-radius: 8px;
}
.section.bordered > *:not(:last-child) {
  margin-bottom: 16px;
}

.section.results {
  background: none;
}

@media screen and (max-width: 600px) {
  .section.results {
    margin-top: 64px;
  }
  .section {
    width: 100%;
    min-width: auto;
  }
}
