* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
img {
  object-fit: cover;
}
:root {
  --white: white;
  --black: #1e2226;
  --black-transparent: #1e22265e;
  --light-blue: #749bc2;
  --light-gray: rgb(159, 159, 159);
  --light-blue-transparent: #ccd6dd;
  --blue: #4682a9;
}
